/* General styling for input and submit button */
.input {
  display: flex;
  width: 95%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 25px;
  padding: 15px;
  font-size: 18px;
  border: none;
  transition: 0.2s;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.input__box:focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
  outline: none;
}

.input_submit {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50%;
  right: 0;
  border: none;
  font-size: 14px;
  background-color: #2f74c0;
  color: white;
  transition: 0.2s all;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.input_submit:hover {
  background-color: #388ae2;
}

.input_submit:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Container styling */
.container {
  width: 95%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

/* Styling for Todo lists */
.todos {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 48%;
  padding: 15px;
  background-color: rgb(50, 195, 205);
}

.dragactive {
  background-color: rgb(0, 221, 236);
}

.dragcomplete {
  background-color: rgb(255, 38, 0);
}

.remove {
  background-color: rgb(235, 103, 80);
}

.todos__heading {
  font-size: 28px;
  color: white;
  margin-bottom: 10px;
}

/* Styling for SingleTodo items */
.todos__single {
  display: flex;
  border-radius: 8px;
  padding: 15px;
  margin-top: 15px;
  background-image: url("https://img.freepik.com/free-photo/crumpled-yellow-paper-background-close-up_60487-2390.jpg?size=626&ext=jpg");
  transition: 0.2s;
  cursor: grab;
}

.drag {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.todos__single:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.todos__single--text {
  flex: 1;
  padding: 8px;
  border: none;
  font-size: 18px;
}

.todos__single--text:focus {
  outline: none;
}

.icon {
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
}

/* Responsive design */
@media (max-width: 1100px) {
  .todos {
    width: 45%;
  }
}

@media (max-width: 700px) {
  .input {
    width: 100%;
  }
  .container {
    width: 100%;
    flex-direction: column;
  }
  .todos {
    width: 100%;
    margin-bottom: 15px;
  }
}
